<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    
    
</head>
<body style="background-color: #11aade;">
    <center>

        <h1 style="color: brown;">Welcome our university</h1>
    </center>
    <div class="nav-bar" style="text-align:right;">
        <a href="login.html"><button>Login</button></a>
    <a href="aboutus.html"><button>AboutUs</button></a>
    <a href="support.html"><button>support</button></a>
    </div>
    <center>
        <img src="../img/project.png" alt="University Logo" width="200" height="200"><br><br>

        <img src="../img/admission.png" alt="admission" width="1000" height="300"><br><br>
        <img src="../img/faculties.png" alt="faculties" width="1000" height="300"><br><br>

    </center>
    <br><br>

   

   

    

  

</body>
    
    
    